@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
$fuentePrincipal: Figtree;


//RESET
* {
    margin: 0;
    padding: 0;
    font-family: $fuentePrincipal;
    box-sizing: border-box;
}

//VARIABLES PARA CARROUSEL
$primary-color: #000; // Negro
$text-muted: #6c757d; // Gris para subtítulos


//body {
//    font-family: 'Helvetica Neue', Arial, sans-serif;
//    color: #2d2d2d;
//}