.lookbook-grid {
    display: grid;
    // Esto crea una cuadrícula que se ajusta sola según el tamaño de pantalla
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px; // Espaciado elegante entre fotos

    .look-item {
        position: relative;
        overflow: hidden; // Para que la imagen no se salga al hacer zoom
        cursor: pointer;

        img {
            width: 100%;
            height: 450px; // Altura fija para que todas se vean parejas
            object-fit: cover; // Ajusta la foto sin deformarla
            transition: transform 0.8s ease; // Transición suave
            @media (max-width: 768px) {
            // Bajamos la altura para que la foto no sea un "tubo" tan largo en celular
            height: 350px; 

            object-position: top;//'top' asegura que la prioridad sea mostrar la parte superior de la foto.
            }
        }


        .look-overlay {
            position: absolute;
            top: 0; left: 0;
            width: 100%; height: 100%;
            background: rgba(0, 0, 0, 0.2); // Sombra muy sutil
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0; // Invisible por defecto
            transition: opacity 0.5s ease;

            span {
                color: white;
                border-bottom: 1px solid white;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 0.9rem;
            }
        }

        // Efecto dinámico al pasar el mouse
        &:hover {
            img {
                transform: scale(1.08); // Zoom suave
            }
            .look-overlay {
                opacity: 1; // Aparece el texto
            }
        }
    }
}