
/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

/*INICIO RESET*/
*{
    padding: 0;
    margin: 0;
    font-family: Figtree;
}

/*HOME*/

/*BARRA DE NAVEGACION */
/*.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aqua;
}*/

/*.logoP{
    height: 10vh;
    width: auto;
}*/


/*NOSOTROS*/
/*.formulario{
    background-color: azure;
    display: flex;
    justify-content: center;
}*/

/*CARRUSEL*/
.carrusel-contenedor {
    max-width: 800px;   /* ajustá esto a tu gusto  - solamente padding de imagen - NO ANCHO*/
}

.carrus {
  height: 500px;      /* altura del carrusel */
  object-fit: cover;  /* evita que se deformen las imágenes */
}





/*PRODUCTOS*/


/*SOPORTE*/

/*EXTRAS */
/*.logo1{
    height: 25vh;
    width: auto;
}
.logos{
    height: 10vh;
    width: auto;
}

a {
    text-decoration: none;
}

li{
    list-style: none;
}
ul{
    display: flex;
    gap: 50px;
}*/

/*PIE DE PAGINA*/
/*footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
.nav-footer{
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-content: end;
    flex-wrap: wrap;
    gap: 20px;
}*/




/*p {
    color: #FF3E7F;
}
footer {
    color: #2D2D2D;
}
h1 {
    color:#00B8B0 ;
}

body {
    background-color: #F9F9F9;
}*/

/*tablet ajustar un pococ tamano con grid*/
/*@media (min-width: 480px) and (max-width: 1023px){

}*/



/*mobile: ajustar modelo responsive como por ejemplo Body con flexbox*/
/*@media (min-width: 300px) and (max-width: 479px){

}*/